@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* height: 100%; */
}
html,
body {
  /* height: 100%; */
  color: #fff;
  background: #3415a5;
}

main {
  background: linear-gradient(90.21deg, #f0fc1480 -5.91%, rgba(7, 197, 207, 0.5) 111.58%);
  height: 100vh;
  height: 100%;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #f5741c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
