@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* height: 100%; */
}
html,
body {
  /* height: 100%; */
  color: #fff;
  background: #1f1934;
}

main {
  background: linear-gradient(90.21deg, #f0fc1480 -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #f5741c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
